<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Design </title>
</head>
<body>

<div id="<%= dom_id design %>">
  <p>
  <strong>Design url:</strong>
  <%= design.design_url %>
  </p>

  <p>
    <strong>Design name:</strong>
    <%= design.design_name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= design.style %>
  </p>

  <p>
    <strong>Price per sqft:</strong>
    <%= design.price_per_sqft %>
  </p>

  <p>
    <strong>Square feet:</strong>
    <%= design.square_feet %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= design.category %>
  </p>

  <p>
    <strong>Floorplan:</strong>
    <%= design.floorplan %>
  </p>

  <p>
    <strong>Time required:</strong>
    <%= design.time_required %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= design.bio %>
  </p>

  <p>
    <strong>Brief:</strong>
    <%= design.brief %>
  </p>

  <p>
    <strong>Architect:</strong>
    <%= design.architect_id %>
  </p>

</div>

</body>
</html>
