<%= stylesheet_link_tag 'comments' %>
<%= stylesheet_link_tag 'design_details' %>
<%= stylesheet_link_tag 'architect' %>

<p style="color: green"><%= notice %></p>

<% if @design.present? %>

  <div class="AboutArchitect">

    <div class="photos">
      <% if @design.design_url.present? %>
        <img src="<%= @design.design_url %>" class="mainimage" id="mainimage" alt="Design Image">
      <% else %>
        <%= image_tag "no-picture-available-icon-1.jpg", alt: "design image", class: "mainimage" , id:"mainimage"%>
      <% end %>
    </div>

    <div>
      <pre>Design name             : <span id="dname"><%= @design.design_name %></span></pre>
      <pre>Style                          : <span><%= @design.style %></span></pre>
      <pre>Price of design(&#8377)     : <span id="pdesign"><%= @design.price_per_sqft * @design.square_feet %></span></pre>
      <pre>sq/ft of the design     : <span id="squarefeet"><%= @design.square_feet %></span></pre>
      <pre>Price per sq/ft           : <span id="ppsquarefeet"><%= @design.price_per_sqft %></span></pre>
      <pre>Category                   : <span><%= @design.category %></span></pre>
      <pre>Floor plan                 : <span><%= @design.floorplan %></span></pre>
      <pre>Required Months      : <span id="dates"><%= @design.time_required %> months</span></pre>
      <pre>likes                           : <span id="dates"><%= @design.likes.count %> </span></pre>

    </div>


  <div class="details">
    <div class="para">
      <div class="details" style="margin-top:60px">

        <% if current_user.present? %>
            <% if @design.ratings.exists?(user_id: current_user.id) %>
              <!-- Edit Rating form -->
              <div>
              <%= form_with(model: [@design, current_user.ratings.find_by(design_id: @design.id)], url: design_rating_path(@design, @design.ratings.first), method: :patch) do |form| %>
                <%= form.label :value, 'Edit Rating' %>
                <%= form.select :value, (1..5).to_a %>
                <%= form.submit 'Update Rating' %>
              <% end %>
              </div>
              <!-- Delete Rating button -->
              <div>
              <%= button_to 'Delete Rating', design_rating_path(@design, current_user.ratings.find_by(design_id: @design.id)), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
              <% else %>
              <!-- New Rating form -->
              <%= form_with(model: [@design, Rating.new], url: design_ratings_path(@design), method: :post) do |form| %>
                <%= form.label :value, 'Rating' %>
                <%= form.select :value, (1..5).to_a %>
                <%= form.submit 'Submit Rating' %>
              <% end %>
            <% end %>
          <% else %>
            <div>
              <% if @design.ratings && @design.ratings.present? %>
                <p>Average Rating: <%= @design.ratings.average(:value).to_f.round(2) %></p>
              <% else %>
                <p>No ratings yet.</p>
              <% end %>
            </div>
        <% end %>
        <div>
          <% if current_user.present? %>
            <% if @design.likes.exists?(user: current_user) %>
              <%= button_to 'Unlike', design_like_path(@design, @design.likes.find_by(user: current_user)), method: :delete %>
            <% else %>
              <%= button_to 'Like', design_likes_path(@design), method: :design %>
            <% end %>
          <% end %>
        </div>
      </div>

      <br>
      <br>
      <div id="about">
        <p style="font-size:25px">
          About the design :<br>
        </p>
        <span id="para"><%= @design.bio %></span><br>
      </div>
      <div>
        <span id="brief_para"> <%= @design.brief %></span>
      </div>

      
      <% if current_architect.present? && @design.architect == current_architect %>
        <%= link_to "Edit this design", edit_design_path(@design) %> |
        <%= link_to "Back to designs", designs_path %>
        <%= button_to "Destroy this design", @design, method: :delete %>
      <% else %>
        <%= link_to "Back to designs", designs_path %>
      <% end %>
      

    </div>

    <div>
      <div>
        <% if current_user.present? %>
          <% if @design.architect.present? %>
            <div class="all-architect-list">
                <div class="card">
                  <div class="cover-photo" style="background: url(<%= @design.architect.profile_photo %>) no-repeat center center / cover;">
                  </div>
                  <h3 class="profile-name"><%= @design.architect.name %></h3>
                  <div class="exp_div">
                    <p class="about"><%= @design.architect.email %></p>
                  </div>
                  <div class="exp_div">
                    <p class="about"><%= @design.architect.number %></p>
                  </div>
                  <%= link_to "Show this Architect", architect_path(id: @design.architect.id), class: "btn" %>
                  <!-- You can add more buttons as needed -->
                </div>
            </div>
          <% else %>
            <p>No architects available</p>
          <% end %>
        <% elsif @current_architect.present? %>
          <p>comments for your design</p>
        <% end %>
      </div>

      <div class="comments">
        <h2>Comments</h2>
        <% if current_user.present? %>
          <%= form_with(model: [@design, @design.comments.build], url: design_comments_path(@design)) do |form| %>
            <%= form.text_area :content, placeholder: 'Add a comment...' %>
            <%= form.submit 'Post ✎', class: 'submit_btn' %>
            </br>
          <% end %>
        <% end %>
        </br>
        <hr>
        </br>
        <div class="comments_list">
          <% @design.comments.each do |comment| %>
            <div class="comment">
              <% if comment.user.present? %>
                <strong class="name"><%= comment.user.name %>:</strong>
              <% else %>
                <!-- <p>Anonymous:</p> -->
              <% end %>
              <p>&emsp;&emsp;&emsp;<%= comment.content %></p>

              <% if current_user.present? && current_user == comment.user %>
                <div class="comment-actions">
                    <%= link_to image_tag('common/edit_icon.jpg', class: 'edit-icon'), edit_design_comment_path(@design, comment) %>
                    <%= button_to image_tag('common/delete_icon.jpg', class: 'delete-icon'), design_comment_path(@design, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <p>Design not found.</p>
<% end %>