<h1>Your Bookings</h1>
<% if current_user.present? %>
    <% if @bookings.any? %>

        <% @bookings.each do |booking| %>
    
            <strong>Design Name:</strong> <%= booking.design_name %><br>
            <strong>Design URL:</strong> <%= booking.design_url %><br>
            <strong>Expected Amount:</strong> <%= booking.expected_amount %><br>
            <strong>Expected Months:</strong> <%= booking.expected_months %><br>
            <strong>Message:</strong> <%= booking.message %><br>

            <!-- Assuming 'architect' is the association, adjust accordingly -->
            <strong>Architect Name:</strong> <%= booking.architect.name %><br>
            <strong>Architect Number:</strong> <%= booking.architect.number %><br>
            <strong>Architect Email:</strong> <%= booking.architect.email %><br>

            <strong>Status:</strong> <%= booking.status %><br>

            </br></br>
        <% end %>

    <% else %>
    <p>No bookings found.</p>
    <% end %>
<% elsif current_architect.present? %>
    <% if @bookings.any? %>

    <% @bookings.each do |booking| %>

        <strong>Design Name:</strong> <%= booking.design_name %><br>
        <strong>Design URL:</strong> <%= booking.design_url %><br>
        <strong>Expected Amount:</strong> <%= booking.expected_amount %><br>
        <strong>Expected Months:</strong> <%= booking.expected_months %><br>
        <strong>Message:</strong> <%= booking.message %><br>

        <!-- Assuming 'User' is the association, adjust accordingly -->
        <strong>User Name:</strong> <%= booking.user.name %><br>
        <strong>User Number:</strong> <%= booking.user.phone_number %><br>
        <strong>User Email:</strong> <%= booking.user.email %><br>
 
        <% if booking.status == 'Pending' %>
            <%= link_to 'Accept', Rails.application.routes.url_helpers.accept_booking_path(booking), method: :PATCH %>
            <%= link_to 'Reject', Rails.application.routes.url_helpers.reject_booking_path(booking), method: :PATCH %>
        <% else %>
            <strong>Status:</strong> <%= booking.status %><br>
        <% end %>
      

        </br></br>
    <% end %>

    <% else %>
    <p>No bookings found.</p>
    <% end %>
<% else %>
<p>You must be either an architect or a user to access this page.</p>
<% end  %>