<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'universe', 'form' %>

  <title>User Login</title>
</head>

<body>
  <h1>Login Page</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post, class: 'onlylog', id: 'form3' }) do |f| %>
    <div class="head_div">
      <h2 class="head" style="margin-top: 0px">User Login</h2>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: 'Enter email', class: 'email', value: params[:email] %>
    </div>
    <br /> <br />

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: 'Enter password', class: 'password' %>
    </div>
    <br /> <br />

    <div>
      <%= f.submit 'Log in', class: 'login-button' %>
    </div>

    <div class="signupbtn_div">
      <%= link_to 'Sign up', new_user_registration_path, class: 'signupbtn' %>
    </div>
  <% end %>

</body>

</html>
